version: "3.7"

services:
  postgresql:
    image: postgres
    volumes:
      - pgdata:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: phoenix_test_dev
    ports:
      - "5432:5432"

volumes:
  pgdata: